<div ng-controller="goalsController">
    <h2>My Todo List</h2>

    <form ng-submit="todoAdd()">
        <md-input-container class="sm-block">
        <textarea type="text" name="goals" id="goals" ng-model="auth.goals" placeholder="" required="Enter Goals Here"/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="">Add New</md-button>
    </form>

    <br>

    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.done">
        <span ng-bind="x.todoText"></span>
    </div>

    <p>
        <md-button class="md-raised md-primary" ng-click="remove()">Remove marked</md-button>
    </p>
</div>