<div ng-controller="goalsController">
    <h2>My Todo List</h2>
    <md-content class="md-padding right" layout-xs="column" layout="row">
    <form ng-submit="md-padding">
        <!-- <md-input-container class="md-block">
            <textarea type="text" name="goals" id="goals" ng-model="auth.goals" placeholder="" required="Enter Goals Here" />
        </md-input-container> -->
        <md-input-container>
            <label>enter task</label>
            <input ng-model="auth.description" type="enter task">
        </md-input-container>
        <div flex-gt-xs>
            <md-datepicker ng-model="auth.datedue" md-placeholder="Enter date"></md-datepicker>
        </div>
        <md-button class="md-raised md-primary" ng-click="goalInput(auth)">Add New</md-button>
        <md-button class="md-raised md-primary" ng-click="updateGoals()">View Current Goals</md-button>
    </form>

    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.done">
        <span ng-bind="x.todoText"></span>
    </div>
    </md-content>

    <!-- <p>
        <md-button class="md-raised md-primary" ng-click="remove()">Remove marked</md-button>
    </p> -->
    <md-content class="md-padding right" layout-xs="row" layout="row" ng-repeat="goal in goals.slice().reverse()">
            <div flex-xs flex-gt-xs="40" layout="column">
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Goal for {{ goal.dateDue }}</span>
                    <span class="md-subhead">{{ goal.description }}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Mark Complete</md-button>
                </md-card-actions>
              </md-card>
            </div>
    </md-content>
</div>
