.not-normal {
    background-color: blue;
}

.normal {
    background-color: white; 
}

.layout-padding {
    background-image: url("img/mountaintwo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.loginForm {
    background-color: rgba(162, 189, 212, 0);
}

.goalButton {
    background-color: rgba(196, 209, 219, 0.37);
}

.feedContent {
    background-color: rgba(255, 255, 255, 0.616);
    height: 350px;
}

.registerContent {
    background-color: rgba(255, 255, 255, 0.836);
}

.goalCard {
    display: flex;
    flex-wrap: wrap;
}

.oneCard {
    width: 20%;
}

.falseCard {
    background-color: rgba(221, 229, 238, 0.712);
    border: 1px rgba(0, 0, 0, 0.445) solid; 
}

.goalForm {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.836);
    border: 1px rgba(0, 0, 0, 0.445) solid; 
    margin-left: 2%;
}

.goalInput {
    left: 20%;
}

.goalHeader {

    margin-left: 2%;
    width: 27%;
}

.homeContent {
    background-color: rgba(255, 255, 255, 0.836);
    border: 1px rgba(0, 0, 0, 0.445) solid; 
    height: 300px;
}

.homeContentTwo {
    background-color: rgba(255, 255, 255, 0.836);
    border: 1px rgba(0, 0, 0, 0.445) solid; 
    height: 100px;
    padding: 30px;
    font-size: 1.2em;
}

.toolbarHome {
    position: static;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="goalCard"] {
    
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    }

    [class*="oneCard"] {
    width: 100%;
    
    }

    [class*="goalForm"] {
        width: 80%;
        margin-left: 10%;
        
    }
}