<div ng-app="authApp" ng-controller="feedController">
    <md-toolbar>
        <div class="md-toolbar-tools">Check in with your friends here.</div>
    </md-toolbar>
    <md-content class="feedContent" style="height: 350px;" md-scroll-shrink layout="row" layout-align="space-around" layout-padding="layout-padding"
        ng-cloak="ng-cloak" class="feed">

        <md-list flex="flex sm">
            <md-virtual-repeat class="md-3-line" role="listitem">
                <div md-on-demand class="repeated-item" ng-repeat="post in feed.slice().reverse()" class="md-virtual-repeat-text" layout="row">
                        <h3>{{ post.user.firstName }}</h3>&nbsp <h3>{{ post.user.lastName }}</h3><h3>:</h3>&nbsp  <h3>{{ post.text }}</h3>
                </div>
            </md-virtual-repeat>
        </md-list>
    </md-content>
    <md-input-container class="md-block">
        <textarea type="text" name="feed" id="feed" ng-model="auth.text" placeholder="" required="" />
        <md-button id="sendFeedBtn" ng-click="postFeed(auth)" class="md-raised md-primary">&nbsp Post &nbsp</md-button>
    </md-input-container>
</div>