<md-content class="loginForm homeContent" layout="row" layout-align="center center">
    <h1>Welcome to New Day!</h1>
</md-content>
<br>
<br>
<md-content class="loginForm homeContentTwo" layout="row" layout-align="center center">
        <p>New Day is a web application design for treatment centers such as Cumberland Heights, The Ranch ect.  The purpose of the application is to allow clients who have left treatment an opportunity to stay connected.  Alumni can check in, set goals, and post messages to a chat board.</p>
</md-content>