<div ng-app="authApp">

    <md-content ng-app="authApp" ng-controller="registerController" layout="row" layout-align="space-around" layout-padding="layout-padding"
        ng-cloak="ng-cloak" class="login-form loginForm">
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33" class="registerContent">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Register Here</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Form">
                    <md-input-container class="md-block">
                        <label>First Name</label>
                        <input type="FirstName" name="First Name" ng-model="auth.firstName" placeholder="First Name" md-maxlength="16"/>
            
                        
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input type="LastName" name="Last Name" ng-model="auth.lastName" placeholder="Last Name" md-maxlength="16" />
                        <!-- <div ng-messages="Form.password.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your last name.</div>
                            <div ng-message="md-maxlength" class="my-message">Too long.</div>
                        </div> -->
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input type="text" name="email" ng-model="auth.username" placeholder="Email" />
                        <!-- <div ng-messages="Form.email.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your email.</div>
                        </div> -->
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="auth.password" placeholder="Password" md-maxlength="16" />
                        <!-- <div ng-messages="Form.password.$error" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your password.</div>
                            <div ng-message="md-maxlength" class="my-message">Too long.</div>
                        </div> -->
                    </md-input-container>
                    <md-button ng-click="register(auth)" class="md-raised md-primary">&nbsp Register &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>