<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <h2>
            <span>New Day</span>
        </h2>

        <span flex></span>
        <div ng-controller="loginController">
            <md-button ng-click="login()">Login</md-button>
        </div>
        <md-button href="#!/profile">Check In</md-button>
        <md-button href="#!/goals">Goals</md-button>
        <md-button href="#!/feed">Feed</md-button>
        <md-button ng-controller="loginController" ng-click="logoutButton()">Logout</md-button>
    </div>
</md-toolbar>